<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add Department Head </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Dept List :</span>
                                <select id="coy" name="coy" class="form-control" ng-model="deptlist" ng-options="dept.name for dept in DeptList track by dept.value" >
                                 <!--<option value="">Select Department</option>-->
								 </select>
                                <!--<input type="text" name="colgmname" id="colgmname" class="form-control" placeholder="Add department list" ng-model="deptlist" >-->
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">HOD Name :</span>
								<input type="text" name="itemname" id="contactno" class="form-control" placeholder="HOD Name" ng-model="hod_name" >
								</div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Email :</span>
								<input type="email" name="itemname" id="contactno" class="form-control" placeholder="add email id" ng-model="email" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                                <input type="password" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="password" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Retype Password :</span>
                                <input type="password" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="repass" >
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addDeptHeadData();"  id="addProfileData" ng-value="buttonName"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>





<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Department Name</th>
                                                    <th>HOD Name</th>
                                                    <th>Email Id</th>
                                                    <th>Edit</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="head in deptHeadData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{head.dept_list}}</td>
													<td>{{head.hod_name}}</td>
													<td>{{head.emailid}}</td>
                                         			<td>
													<a ui-sref='dashboard.dept_head'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="getDeptData(head.hod_id)">  
													</a>
													</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>