<div class="row" style="padding-top:-15px;" >
<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add Class Time </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" >
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value" ng-change="selectDays();" ng-readonly="readcolg">
		                    	 </select>
								</div> 
                    			                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Classes per Day :</span>
								<input class="form-control" id="periods"  disabled="disabled" >
								
								</div>
                                
                               
                                
                                
                               
                                
                                
                                
                     </div>              
                    <div class="clearfix"></div>            
                    
                    <div class="col-md-12">
                     
                    <div class="table-responsive dashboard-demo-table">
				<table class="table table-bordered table-striped table-hover" id="dataTable">
  				<tbody id="detailsstockid">
  
  				</tbody>
				</table>
								</div>
                    			</div>
                    
                     <div id="data_hide"> </div>
                     
                    
                  	<div class="clearfix"></div>    
                   	<div style="text-align:center; padding-top:10px;">
                     <input type="button" class="btn btn-success" ng-click="addTimeData();"  id="addtimedata" ng-value="buttonName" style="display:none; float:none; margin:auto"/>
                  	<input type="hidden" class="btn btn-success" id="tableid"  />
                    <!--<input type="button" class="btn btn-success" id="saveData"  value="Save" onclick="savePrincipalData1();" />-->
                	</div>

           <div class="clearfix"></div> 
           
           
                                
                                          <div class="clearfix"></div>      
                                          
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
		</div>
            