<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="padding:0px;">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add/Update User Role </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value " ng-change="removeBorder('colg_name',colg_name);" ng-readonly="colgread" ng-disabled="colgdis">
		                    	 </select>
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Role :</span>
                                <input type="text" name="colgmname" id="resourcerole" class="form-control" placeholder="Add User Role" ng-model="user_role" ng-keypress="clearField('resourcerole');" >
								</div> 
                                 </div>
                                
                                
                                <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Type:</span>
                                 <select class="form-control"  id="utype" ng-model="user_type" ng-options="type.name for type in listOftype track by type.value " ng-change="removeBorder('utype',user_type);" ng-readonly="userread" ng-disabled="userdis">
		                    	 </select>
								</div>
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Type:</span>
                                <select class="form-control"  id="resourcetype" ng-model="user_type"  ng-change="removeBorder('resourcetype',user_type);" >
                                <option value="">Select type</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
								 </select>
								</div>-->
                                <div>
                               <!-- (for princpal and HOD type should be 1 and for others 2)-->
                                </div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addUserRoleData();"  id="addProfileData" ng-value="buttonName"/>
                            <input type="button" class="btn btn-red" ng-click="cancelUserRoleData();"  id="addProfileData" ng-value="CancelbuttonName" ng-show="showCancel"/>
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>





<div class="col-lg-12" style="padding:0px;">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of User Role </h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                            	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-5 col-sm-5">
										      <col class="col-md-3 col-sm-2">
                                             <col class="col-md-3 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="colg.name for colg in listOfSearchCollege track by colg.value" ng-model="colgSearch">
                                                    <option value="">College Name</option>
                                                    </select>
                                                    </th>
                                                    <th>User Role</th>
                                                    <th>User Type</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="role in roleData | filter:{colg_name:colgSearch.name}:true | orderBy:'colg_name'">
                                                    <td>{{$index+1}}</td>
													<td>{{role.colg_name}}</td>
                                                    <td>{{role.role}}</td>
                                                    <td>{{role.type}}</td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref='dashboard.res.userrole'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editRoleData(role.role_id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref='dashboard.res.userrole'>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteRoleData(role.role_id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>