<div>
<uib-tabset> 

<uib-tab ui-sref="dashboard.customer.new" active="cattabs[1]"> 
<uib-tab-heading>New Information</uib-tab-heading> 
</uib-tab> 

<uib-tab ui-sref="dashboard.customer.view" active="cattabs[2]"> 
<uib-tab-heading>View Information</uib-tab-heading> 
</uib-tab> 

<!--<uib-tab ui-sref="dashboard.customer.image" active="cattabs[3]"> 
<uib-tab-heading>Add Image</uib-tab-heading> 
</uib-tab> -->
<uib-tab ui-sref="dashboard.customer.time" active="cattabs[4]"> 
<uib-tab-heading>Business Hour</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.customer.addimage" active="cattabs[5]"> 
<uib-tab-heading>Add Picture Special</uib-tab-heading> 
</uib-tab>
</uib-tabset> 
<div ui-view autoscroll="off"></div>
</div>