<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> View Customer Details </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Business Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body" style="padding-bottom:0px">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Restaurant Name :</span>
                               <select class="form-control"  id="restau" ng-model="restaurant" ng-options="qua.name for qua in listOfRestaurant track by qua.value " ng-change="getDayFromSpecial('restau');">
                                </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Day :</span>
                                <select class="form-control"  id="day" ng-model="days" ng-options="qua.name for qua in listOfDays track by qua.value " ng-change="getSubcategoryValue('day');">
		                    	 </select>
								
								</div>
                               
                               
                                 </div>
                                
                                
                                <div class="col-md-6"> 
                                    <div class="input-group bmargindiv1 col-md-12">
										<span class="input-group-addon ndrftextwidth text-right" style="width:180px">Sub Category :</span>
										<select class="form-control"  id="subcat" ng-model="subcat" ng-options="qua.name for qua in listOfSubcat track by qua.value " >
										</select>
								
								    </div>
										<div class="input-group bmargindiv1 col-md-12">
										<div ng-repeat="mul in mulImage">
								<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Galery Image{{$index+1}}:</span>
                                <div>
                                <div ng-class="{'myError': billdata.upload_{{$index}}.$touched && billdata.upload_{{$index}}.$invalid }">
                                <input type="file" class="filestyle form-control" data-size="lg" name="upload_{{$index}}" id="bannerimage_{{$index}}"  ng-model="mul.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" ngf-select="onFileSelect1($index);">
								<input type="text" class="form-control" name="comment" id="comment" placeholder="Comment" ng-model="mul.comment">
                                <div style="clear:both;"></div>
                                </div>
                                </div>
                                <span class="input-group-btn" ng-show="mulImage.length>0">
                                  <div ng-if="browser==''">
                                  <img ngf-thumbnail="mul.image" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.image !=null"><img ng-src="upload/{{mul.filename}}" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.filename!=''"><input type="button" class="btn btn-success" name="plus" id="plus" value="+" ng-click="addNewImageRow(mulImage);" ng-show="$last"> <input type="button" class="btn btn-danger" name="minus" id="minus" value="-"  ng-show="mulImage.length>1" ng-click="deleteNewImageRow(mulImage,$index);"></div><div ng-if="browser=='Safari'"><img ngf-src="mul.image" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.image !=null"><img ng-src="upload/{{mul.filename}}" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.filename!=''"><input type="button" class="btn btn-success" name="plus" id="plus" value="+" ng-click="addNewImageRow(mulImage);" ng-show="$last"> <input type="button" class="btn btn-danger" name="minus" id="minus" value="-"  ng-show="mulImage.length>1" ng-click="deleteNewImageRow(mulImage,$index);"></div>
								  
                                  
                                 </span>
                                </div>
								<div class="help-block" ng-messages="billdata['upload_'+$index].$error" ng-if="billdata['upload_'+$index].$touched">
                                  <p ng-message="maxSize" style="color:#F00;">File is too large.Max size is 2 mb.</p>
							       <p ng-message="minHeight" style="color:#F00;">Minimum height should be 400px</p>
                              </div>
								</div>
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    <div style="text-align:center; padding:10px 0px;">
                    
                  <input type="button" class="btn btn-success" ng-click="addImageDetails(billdata);"  id="saveData" ng-value="buttonName"   style="margin-right:20px;"/><input type="button" class="btn btn-red" ng-click="clearImageData();"  id="addProfileData" ng-value="ClearbuttonName" ng-show="showCancel"/></div>
                    
                    
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                   
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>




<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Images Info</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
                                        <!--<div class="input-group" style="margin-bottom:10px; width:300px;">
											<input class="form-control" placeholder="Type Restaurant Name" name="q" type="text" ng-model="searchProduct.rest_name">
											<div class="input-group-btn">
												<button class="btn btn-default" type="button" ng-click="exportData();">Export</button>
											</div>
									   </div>-->
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Restaurant Name</th>
                                                    <th>Day</th>
                                                    <th>
                                                   Sub category
                                                    </th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr  ng-repeat="cus in listOfSpecialImages">
                                               		<!--<tr ng-repeat="cus in listOfCustomerData | filter:searchProduct">-->
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cus.rest_name}}</td>
                                                    <!--<td><img ng-src="upload/{{cus.image}}" name="pro" border="0" style="width:50px; height:50px; border:#808080 1px solid;" /></td>-->
                                                    <td>{{cus.day_name}}</td>
                                                    <td>{{cus.subcat_name}}</td>
                                         			<td >
                                                    <a ui-sref="dashboard.customer.image">
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editSpecialImageData(cus.member_id,cus.dayid,cus.subcatid);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref="dashboard.customer.image">
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteProductImageData(cus.member_id,cus.dayid,cus.subcatid);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
                                        </div>
                                       <!-- <div class="pull-right">
                                            <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				                            </dir-pagination-controls>
                                        </div>-->
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>