<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Manage Category </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Add Category</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                   <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Special :</span>
                                <select class="form-control"  id="special" ng-model="special" ng-options="qua.name for qua in listOfSpecial track by qua.value " >
		                    	 </select>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Category Name :</span>
                                <input type="text" name="catname" id="catname" class="form-control oditek-form" placeholder="Add Category Name" ng-model="catname" ng-keypress="clearField('catname');"  maxlength="30">
								</div>
                               
                                 </div>
                                
                                
                                <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                  <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Order :</span>
                                     <div ng-class="{ 'myError': billdata.theValue.$touched && billdata.theValue.$invalid }">
						          <input type="number"  class="form-control oditek-form"  ng-model="theValue" name="theValue" step="1" min="0" placeholder="Add order number" ng-pattern="/^[0-9]+([,.][0-9]+)?$/">
                                     </div>
						        </div>
                                    <div class="help-block" ng-messages="billdata.theValue.$error" ng-if="billdata.theValue.$touched">
                                    <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Description :</span>
                                <input type="text" name="catdesc" id="catdesc" class="form-control oditek-form" placeholder="Add Category Description" ng-model="catdesc" ng-keypress="clearField('catdesc');"  maxlength="30">
								</div>
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                   
                     
                    </div>
                    
            <div class="clearfix"></div>
            <div style="text-align:center; padding-top:10px;">  
             <input type="button" class="btn btn-red" ng-click="cancelUpdate();"  id="saveData" ng-value="buttonName" ng-show="cancelButton"  style="margin-right:20px;"/>   
           <input type="button" class="btn btn-success" ng-click="addCategory(billdata);"  id="submitData" ng-value="submitbuttonName" ng-show="submitButton"/>
                    </div>  
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>View Category </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" style="font-size:13px" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Date</th>
                                                    <th>Special</th>
                                                    <th>Category Name</th>
                                                    <th>Description</th>
                                                    <th>Order</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                                   
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in objUserData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.date}}</td>
                                                    <td>{{user.special_name}}</td>
                                                    <td>{{user.cat_name}}</td>
                                                    <td>{{user.cat_desc}}</td>
                                                    <td>{{user.order_no}} <span style="float:right;"><a href="javascript:void(0)" style="font-size: 16px;" ng-if="$index !=0" ng-click="swapValueToUp($index,user.cat_id)"><i class="fa fa-caret-square-o-up"></i></a> <a href="javascript:void(0)" style="font-size: 16px;" ng-if="!$last" ng-click="swapValueToDown($index,user.cat_id)"><i class="fa fa-caret-square-o-down"></i></a></span></td>
                                                    <td>
                                                    <a ui-sref='dashboard.category.cat'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editCatagoryData(user.cat_id);" >  
													</a>
													</td>
                                                    <td>
                                                    <a ui-sref='dashboard.category.cat'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="removeCatagoryData(user.cat_id);" >  
													</a>
													</td>
                                                   
                                                    
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                    
                    
                    
                    
                                 
                                 
                                
                                 </div>
                    
                

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                    <div class="col-lg-12" style="display:none">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Confirm New Registration </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="confirmdata" id="confirmdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>


