<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" ng-show="ownerlist">
                    
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of Owner</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" style="font-size:13px" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                            
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>DOR</th>
                                                    <th>Reg. Code</th>
                                                    <th>Owner Name</th>
                                                    <th>Mobile</th>
                                                    <th>E-mail</th>
                                                    <th>Bike Info</th>
                                                    <th>Reg. No</th>
                                                    <th>Reg. Status</th>
                                                    <th>Status</th>
                                                    <th>View</th>
                                                   
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in objUserData  | filter:{colg_name:colgSearch.name}:true | orderBy:'user_name'">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.date}}</td>
                                                    <td>{{user.reg_code}}</td>
													<td>{{user.name}} </td>
													<td>{{user.mobile}}</td>
                                                    <td>{{user.email}}</td>
                                                     <td>{{user.manf_name}}::{{user.model_name}}</td>
                                                    <td>{{user.reg_no}}</td>
                                                    <td>{{user.reg_status}}</td>
                                                    <td ng-if="user.status==1"><span style="color:#090">Enabled</span></td>
                                                    <td ng-if="user.status==2"><span style="color:#F00">Disabled</span></td>
                                         			<td>
                                                    <a ui-sref='dashboard.registration.view'>
													<input type='button' class='btn btn-xs btn-green' value='View' ng-click="viewUserData(user.reg_id);" >  
													</a>
													</td>
                                                   
                                                    
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
       
                    
                    
                    
                    
                    
                    
                    <!-- //////////////////////////////////////////////// -->
                    <div class="col-lg-12" ng-show="ownerlistToEdit">
                    <div style="text-align:center; padding:10px; ">
                    <input type="button" class="btn btn-green" ng-click="showListData();"  ng-value="listbuttonName" />
					</div>
                    <div class="portlet portlet-green" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>{{owner_info}}</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                   
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
                     
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                   
                   
                   <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Registration Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Registration Code :</span>
                               <input type="text" name="reg_code" id="reg_code" class="form-control oditek-form" ng-model="reg_code"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                
                                
                                 
                                 
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Device Type :</span>
                               <input type="text" name="device_type" id="device_type" class="form-control oditek-form" ng-model="device_type"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Device Id :</span>
                               <input type="text" name="device_id" id="device_id" class="form-control oditek-form" ng-model="device_id"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Registration Status :</span>
                               <input type="text" name="reg_status" id="reg_status" class="form-control oditek-form" ng-model="reg_status"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                               
                               <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Login Status :</span>
                               <input type="text" name="login_status" id="login_status" class="form-control oditek-form" ng-model="login_status"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                
                                
                                                       
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Date of Registration :</span>
                               <input type="text" name="dor" id="dor" class="form-control oditek-form" ng-model="dor"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Last Modified On :</span>
                               <input type="text" name="lmo" id="lmo" class="form-control oditek-form" ng-model="lmo"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Service Status:</span>
								<select class="form-control oditek-form" name="enable_service" id="enable_service" ng-model="enable_service" ng-options="result.name for result in listYesNo track by result.value "  ng-change="checkBikeType('bike_type');">
                                  </select>
								</div>
                               <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Login Id :</span>
                               <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Login Id" ng-model="mobno"  maxlength="30" ng-disabled="readcolg"> 
								</div>
                                <input type="button" class="btn btn-green" ng-click="resetPasswod();"  value="Click here to reset Password" ng-show="hidebtn"  />
                                <div class="input-group bmargindiv1 col-md-12" ng-hide="showpass">
                                <span style="position:absolute; right:5px; margin-top:6px; top:0px;"><button class="btn btn-xs btn-success"ng-mousedown="hideShowPassword();" ng-mouseup="hideShowPassword();" ng-mouseleave="hidePassAfterLeave();"  ><i class="fa fa-eye"></i></button></span>
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                                  <div ng-class="{ 'myError': billdata.pass.$touched && billdata.pass.$invalid }">
                                <input type="{{inputType}}" name="pass" id="passno" class="form-control" placeholder="password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[_!@#\$%\^&\*])(?=.{8,})/" ng-keypress="clearField('passno');" tabindex="7" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.pass.$error" ng-if="billdata.pass.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter and special charcter (e.g-_,@,#,&,% ).</p>
                                
                                </div>
                                <div class="col-md-12 text-right" style="padding-right:0px;" ng-show="rejectpass" ng-click="closePass();"><button type="button" class="btn btn-danger btn-sm">Cancel</button></div>
                                 </div>
                                  
                                  
                                  
                                 <div class="clearfix"></div>    
                               
                                
                                 </div>
                    
                                
                                
                               
            <div class="clearfix"></div>    
            </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    
                    
					
                     <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Owner Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Owner Name :</span>
                                <input type="text" name="ownername" id="colgname1" class="form-control oditek-form" placeholder="Add Owner Name" ng-model="ownername" ng-keypress="clearField('colgname1');"  maxlength="30">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Owner Gender :</span>
								 <select class="form-control oditek-form" name="gender_type" id="gender_type" ng-model="gender_type" ng-options="result.name for result in listGender track by result.value "  ng-change="checkGenderType('gender_type');">
                                  </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Mobile No (10 digits) :</span>
                                <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
                                <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Add Mobile No" ng-model="mobno"  ng-pattern="/^[0-9]{10,10}$/" ng-keypress="clearField('mobno');" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="pattern" style="color:#F00;">Please add a valid 10 digit mobile no.</p>
                                </div>
                                
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Email Address :</span>
                                <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
                                <input type="email" name="email" id="email" class="form-control oditek-form" placeholder="Add Email Address" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-keypress="clearField('email');"   maxlength="50">
                                </div>
								</div>
                                
                                <div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                </div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Address :</span>
								<textarea id="address" name="address" class="form-control oditek-form" placeholder="Add Postal Address" rows="5" ng-model="address" style="height:70px" ng-keypress="clearField('address');"></textarea>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">City :</span>
								 <input type="text" name="citycode" id="citycode" class="form-control oditek-form" placeholder="Add City" ng-model="citycode" ng-keypress="clearField('citycode');"  maxlength="30" >
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Pin Code :</span>
								 <input type="text" name="pincode" id="pincode" class="form-control oditek-form" placeholder="Add postal pin code" ng-model="pincode" ng-keypress="clearField('pincode');"  maxlength="30" >
								</div>
                               
                                
                                
                                 </div>
                                
                                
                                <div class="col-md-6">
                               
                               
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Identity Proof :</span>
								 <select class="form-control oditek-form" name="identity_type" id="identity_type" ng-model="identity_type" ng-options="result.name for result in listIndentity track by result.value "  ng-change="checkIdentityType('identity_type');">
                                  </select>
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Identity Proof No :</span>
								 <input type="text" name="iproofno" id="iproofno" class="form-control oditek-form" placeholder="Add Identity No" ng-model="iproofno" ng-keypress="clearField('iproofno');"  maxlength="30" >
								</div>
                                
                                
                                
                                <div ng-class="{ 'myError': billdata.bannerimage.$touched && billdata.bannerimage.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile1">
 								<img ng-src="{{attchImage1}}" style="cursor:pointer;width:auto; height:160px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage" id="imagefile1"  ng-model="imagefile1" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile" ngf-select="onFileSelect('bannerimage',$file);" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile1" >
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                 <input type="hidden" name="imageData" ng-model="imageData" />
                                </label>
                                </div>
                                <div class="help-block" ng-messages="billdata.bannerimage.$error" ng-if="billdata.bannerimage.$touched">
                                 <p ng-message="maxSize" style="color:#F00;">This image size is too large.Max size is 2 mb.</p>
                                 <p ng-message="minHeight" style="color:#F00;">Minimum height should be 100</p>
                               </div>
                                <div class="col-md-12" >
                                <span id="imageupload1" class="input-group-addon text-center oditek-form" >{{imagetype}} Image</span>
                                </div>
                                </div>
                                </div>


                                
                                
                                
                                
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Bike Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Manufacture Name :</span>
                                <input type="text" name="mcol1" id="mcol1" class="form-control oditek-form" placeholder="e.g. Bajaj or Yamaha..." ng-model="mcol1" ng-keypress="clearField('mcol1');"  maxlength="30">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Model Name :</span>
                                <input type="text" name="mcol2" id="mcol2" class="form-control oditek-form" placeholder="e.g. Pulsar or 150 RTX..." ng-model="mcol2" ng-keypress="clearField('mcol2');"  maxlength="30">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Registration No :</span>
                                <input type="text" name="mcol3" id="mcol3" class="form-control oditek-form" placeholder="Add Bike Registration No" ng-model="mcol3" ng-keypress="clearField('mcol3');"  maxlength="30">
								</div> 
                                
                               
                                                               
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Bike Type : </span>
								 <select class="form-control oditek-form" name="bike_type" id="bike_type" ng-model="bike_type" ng-options="result.name for result in listBikeType track by result.value "  ng-change="checkBikeType('bike_type');">
                                  </select>
								</div>
                                
                                
                               
                               <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Date Of Purchase :</span>
								<div class="datepicker" date-format="dd-MM-y" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                <input type="text" name="dopdate" class="form-control oditek-form" id="dopdate" ng-model="dopdate" placeholder="Add purchase date" ng-change="clearField('dopdate');" />
                                </div>
								</div>
                               
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Type of Service: <a href="#">?</a> </span>
								 <select class="form-control oditek-form" name="service_type" id="service_type" ng-model="service_type" ng-options="result.name for result in listServiceType track by result.value "  ng-change="checkServiceType('service_type');">
                                  </select>
								</div>
                                  
                                  </div>
                                  
                                 <div class="clearfix"></div>    
                                 
                                 
                                 <div class="portlet-body">
                    			 <div class="totalaligndiv">
                    			<div class="input-group bmargindiv1 col-md-12">
                                <div class="col-md-4">
                                <div ng-class="{ 'myError': billdata.bannerimage2.$touched && billdata.bannerimage2.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile2">
 								<img ng-src="{{attchImage2}}" style="cursor:pointer;width:auto; height:150px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage2" id="imagefile2"  ng-model="imagefile2" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile1" ngf-select="onFileSelect('bannerimage2',$file);" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile2">
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                </label>
                                </div>
                                <input type="text" id="image2" ng-model="image2" style="display:none"/>
                                </div>
                                <div class="col-md-12">
                                 <span id="imageupload2" class="input-group-addon text-center oditek-form" >Bike Registration Image</span>
                                </div>
                                </div>
                                </div>
                                
                                <div class="col-md-4">
                                <div ng-class="{ 'myError': billdata.bannerimage3.$touched && billdata.bannerimage3.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile3">
 								<img ng-src="{{attchImage3}}" style="cursor:pointer;width:auto; height:150px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage3" id="imagefile3"  ng-model="imagefile3" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile2"  ngf-select="onFileSelect('bannerimage3',$file);" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile3">
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                </label>
                                </div>
                                <input type="text" id="image3" ng-model="image3" style="display:none"/>
                                </div>
                                <div class="col-md-12">
                                <span id="imageupload3" class="input-group-addon text-center oditek-form" >First Bike Image</span>
                                </div>
                                </div>
                                </div>
                                
                                
                                <div class="col-md-4">
                                <div ng-class="{ 'myError': billdata.uploadme.$touched && billdata.uploadme.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile4">
 								<img ng-src="{{attchImage4}}" style="cursor:pointer;width:auto; height:150px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage4" id="imagefile4"  ng-model="imagefile4" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"   custom-on-change="uploadFile3"  ngf-select="onFileSelect('bannerimage4',$file);" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile4">
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                </label>
                                </div>
                                <input type="text" id="image4" ng-model="image4" style="display:none"/>
                                </div>
                                <div class="col-md-12">
                                <span id="imageupload4" class="input-group-addon text-center oditek-form" >Second Bike Image</span>
                                </div>
                                  <input type="text" ng-model="reg_id" style="display:none;" />
                                </div>
                                </div>
                                
								</div>
                                </div>
                                </div>
                                 
                                 
                                 
                                 
                                
                                 </div>
                    
                

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    
                    
                    
                    
                    
                    
                                
                                
                               
            <div class="clearfix"></div>    
            <div style="text-align:center; padding-top:10px;">
            <input type="button" class="btn btn-success" ng-click="updateOwnerData(billdata);"  id="addProfileData" ng-value="buttonName"/>
                  
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					              
                   
                   
                   
                    
                    
                    
                   <div class="clearfix"></div>
                   </div>
				   </div> 
                    
                    
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>


