<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i>Manage Special</h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Add Special</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                            <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Special Name :</span>
                                <input type="text" name="specialname" id="specialname" class="form-control oditek-form" placeholder="Add Special Name" ng-model="specialname" ng-keypress="clearField('specialname');"  maxlength="30">
								</div>
                                </div>
                  	            
                                <div class="col-md-6">
                                  <div class="input-group bmargindiv1 col-md-12">
                                  <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Order :</span>
                                  <div ng-class="{ 'myError': billdata.type.$touched && billdata.type.$invalid }">
						          <input type="number"  class="form-control oditek-form"  ng-model="type" name="type" step="1" min="0" placeholder="Type Order" ng-pattern="/^[0-9]+([,.][0-9]+)?$/">
                                 </div>
						        </div>
                                <div class="help-block" ng-messages="billdata.type.$error" ng-if="billdata.type.$touched">
                                    <div ng-message when="pattern">
                                    <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                    </div>
                                </div>
                                </div>

           <div class="clearfix"></div>    
                    
                   
                     
                    </div>
                    
            <div class="clearfix"></div>
            <div style="text-align:center; padding-top:10px;">  
             <input type="button" class="btn btn-red" ng-click="cancelUpdate();"  id="saveData" value="Cancel" ng-show="cancelButton"  style="margin-right:20px;"/>   
           <input type="button" class="btn btn-success" ng-click="addSpecial(billdata);"  id="submitData" ng-value="submitbuttonName" ng-show="submitButton"/>
                    </div>  
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>View Special</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" style="font-size:13px" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Special Name</th>
                                                    <th>Type</th>
                                                    <th>Action</th>
                                                    <th>Remove</th>
                                                   
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in objSpecialData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.special_name}}</td>
                                                    <td>{{user.type}}</td>
                                                    <td ng-if="user.status==1">
                                                    <a ui-sref='dashboard.category.special'>
													<input type='button' class='btn btn-xs btn-green' value='Active' ng-click="inactiveSpecialData(user.special_id,user.status);">  
													</a>
													</td>
                                                    <td ng-if="user.status==0">
                                                    <a ui-sref='dashboard.category.special'>
													<input type='button' class='btn btn-xs btn-red' value='Inactive' ng-click="inactiveSpecialData(user.special_id,user.status);" >
													</a>
													</td>
                                                   <!-- <td>
                                                    <a ui-sref='dashboard.category.special'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editSpecialData(user.special_id);" >  
													</a>
													</td> -->
                                                    <td>
                                                    <a ui-sref='dashboard.category.special'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="removeSpecialData(user.special_id);" >  
													</a>
													</td>
                                                   
                                                    
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                    
                    
                    
                    
                                 
                                 
                                
                                 </div>
                    
                

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    </div>
                    
                 
				</div>
			</div>

</div>



