


<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Analytics Summary</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Restaurant Name</th>
                                                    <th>Page Hit</th>
                                                    <th>Map Hit</th>
                                                    <th>Gallery Hit</th>
                                                    <th>Phone Hit</th>
                                                    <th>Website Hit</th>
                                                    <th>Total</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr ng-repeat="c in businessclickSummary | orderBy:['-total','+rest_name']" ng-if="businessclickSummary.length >0">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{c.rest_name}}</td>
                                                    <td>{{c.page_hit}}</td>
                                                    <td>{{c.map_hit}}</td>
                                                    <td>{{c.gallery_hit}}</td>
                                                    <td>{{c.phone_hit}}</td>
                                                    <td>{{c.web_hit}}</td>
                                                    <td>{{c.total}}</td>
													</tr>	
                                                     <tr ng-if="businessclickSummary.length <= 0">
                                                    <td colspan="8">
                                                        <center>
                                                          <p><b>No Record Found</b>

                                                          </p>
                                                       </center>
                                                    </td>
											</tbody>
										</table>
                                        </div>
                                       
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>